<p>parent works!</p>

<div>
    <h2>Számológép</h2>
    <label>
        Első szám:
        <input id = "a" [(ngModel)]="a" type="number" [(ngModel)]= "a">
    </label>
    <br>
    <br>
    <label>
        Második szám:
        <input id = "b" [(ngModel)]="b" type="number" [(ngModel)] = 'b'>
    </label>

    <label>Művelet:
        <select id="operation"[(ngModel)]="operation">
            <option value="+">Összeadás</option>
            <option value="-">Kivonás</option>
            <option value="*">Szorzás</option>
            <option value="/">Osztás</option>
          </select>
    </label>

    <button (click)="calculate()">Számol</button>

    <app-child [num1]="a" [num2]="b" [operation]="operation" (resultCalculated)="showResult($event)"></app-child>
    <h3 *ngIf="result !== null">Eredmény: {{ result }}</h3>
</div>

